<<<<<<< HEAD
body {
	background-color: #405050;
	font-family: 'Quicksand', sans-serif;
	color: white;
}

li a {
	display:block;
	color: white;
	padding: 8px 0 8px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: #555;
	color: white;
}

li a:active {
	color: red;
}

table {
	width: 100%;
	border-collapse: collapse;
	border: 2px solid;
	border-color: #405050;
	position: relative;
	margin-top: 0px;
	text-align: center;
}

table tr:nth-child(2n){
    background: rgba(64,80,80,1);
}

td {
    overflow: hidden;
    word-break: break-all;
}

thead {
	background-color: #405050;
	color: white;
}

#input {
	width:45%;
}

#lastChange{
	font-size: 11px;
	color: red;
}

#showInfo {
	position: fixed;
	padding: 5px 0 0 10px;
	top: -30px;
	left: 40%;
	height: 25px;
	width: 50%;
	background: green;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	transition: all 0.6s ease-out;
	opacity: 1;
}

tr {
	text-align: left;
}

tbody tr:hover {
	background-color: #6495ED;
}

header {
	color: #2575a4;
	position: fixed;
	top: 0px;
}

aside {
	display: inline;
	height: 100%;
}

menu {
	position: fixed;
	color: white;
	top: 0px;
	left: 0px;
	width: 175px;
	height: 100%;
	background: #2F3736;
	padding: 10px;
	margin-top: 0px;
	list-style-type: none;
}

footer {
	position: fixed;
	color: white;
	padding: 0px;
	margin: 0px;
	bottom: 0px;
	left: 0px;
	height: 45px;
	width: 100%;
	text-align: center;
	background: #363f3e;
	z-index: 10;
}

.button {
	background-color: #4CAF50;
  	border: none;
	color: white;
	padding: 3px 20px;
	width: 70px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
}

.button:checked + .showInfo{
	top: 0px;
}

main {
	position: absolute;
	height: 44%;
	width: auto;
	top: 10%;
	right: 5%;
	bottom: 10%;
	left: 25%;
	border: 1px dotted;
	border-radius: 10px;
	background: #2F3736;
}

hr {
	border-color: red;
}

main > section{
	position: absolute;
	padding: 0 2% 0 2%;
	width: 96%;
	height: 100%;
	top: 100%;
	right: 2%;
	left: 0%;
	overflow-x:hidden;
	visibility: hidden;
} 

main > section:target {
	top: 0%;
	transition: all 1s ease-out;
    visibility: visible;
}

#refreshButton {
	position: fixed;
	background-color: #2F3736;
	border-radius: 32px;
	background-image: url("../images/refresh_64.png");
	height: 64px;
	width: 64px;
	right: 10%;
	bottom: 10%;
	border: 0px;
=======

@font-face {
    font-family: 'icomoon';
    src:    url('font/icomoon.eot?xi7fp1');
    src:    url('font/icomoon.eot?xi7fp1#iefix') format('embedded-opentype'),
        url('font/icomoon.ttf?xi7fp1') format('truetype'),
        url('font/icomoon.woff?xi7fp1') format('woff'),
        url('font/icomoon.svg?xi7fp1#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-refresh:before {
    content: "\e90c";
}
.icon-tasks:before {
    content: "\e900";
}
.icon-settings:before {
    content: "\e901";
}
.icon-lab:before {
    content: "\e902";
}
.icon-admin:before {
    content: "\e903";
}
.icon-status:before {
    content: "\e904";
}
.icon-shutdown:before {
    content: "\e905";
}
.icon-reports:before {
    content: "\e90b";
}
.icon-cancel:before {
    content: "\e906";
}
.icon-okay:before {
    content: "\e907";
}
.icon-start:before {
    content: "\e908";
}
.icon-pause:before {
    content: "\e909";
}
.icon-stop:before {
    content: "\e90a";
}



/*
 * LAYOUT
 */

body {
	margin: 0px;
	padding: 0px;
}

header {
	position: fixed;
	top: 0px;
	right: 0px;
	bottom: auto;
	left: 0px;
	color: #ffffff;
	background: #4e5f70;
	z-index: 11;
}

header h1 {
	display: block;
	margin: 0px;
	padding: 8px;
	text-align: center;
	font-size: 32px;
	font-family: 'Ubuntu';
}

aside {
	display: block;
	position: fixed;
	top: 0px;
	right: auto;
	bottom: 0px;
	left: 0px;
	width: auto;
	height: auto;
	padding: 53px 0px 16px 0px;
	color: #ffffff;
	background: #4e5f70;
	z-index: 10;
}

aside menu {
	margin: 0px;
	padding: 0px;
}

aside menu li {
	display: block;
	width: 128px;
	height: auto;
	margin: 0px;
	padding: 16px;
	list-style: none;
	font-size: 32px;
	line-height: 32px;
	transition: 250ms background ease-out;
}

aside menu li a {
	color: #ffffff;
	text-decoration: none;
	font-family: 'Ubuntu';
	font-size: 16px;
	line-height: 32px;
	vertical-align: top;
	margin: 0px;
}

aside menu li a span {
	font-size: 32px;
	line-height: 32px;
	padding: 0px 8px;
}

aside menu li.active,
aside menu li:hover {
	background: #5ac1e4;
	transition: 250ms background ease-out;
}

main {
	display: block;
	position: fixed;
	top: 54px;
	right: 0px;
	bottom: 0px;
	left: 160px;
	margin: 0px;
	padding: 0px;
	color: #4e5f70;
	background: #eff2f5;
}

main section {
	display: block;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	padding: 32px;
	background: #eff2f5;
}

main section {
	transform: translate(-100%, 0%);
	transition: 250ms transform ease-out;
	z-index: 1;
}

main section:target {
	transform: translate(0%, 0%);
	transition: 250ms transform ease-out;
	z-index: 2;
}

main section > div.table-wrapper {
	display: block;
	position: absolute;
	top: 32px;
	right: 32px;
	bottom: 96px;
	left: 32px;
	overflow: auto;
}

main section > div.table-wrapper table td {
	max-width: 200px;
	overflow-x: hidden;
	text-overflow: ellipsis;
}

main section table td {
	text-align: center;
}

main section table td:first-child {
	text-align: left;
}



/*
 * INTERFACE
 */

button {
	display: inline-block;
	margin: 0px;
	padding: 8px;
	font-family: 'Ubuntu';
	font-size: 16px;
	line-height: 16px;
	color: #ffffff;
	background: #4e5f70;
	border: 0px solid transparent;
	vertical-align: top;
	transition: 250ms background ease-out;
	appearance: none;
	cursor: pointer;
}

button span {
	font-size: 32px;
	line-height: 32px;
	padding: 0px;
}

button:active {
	background: #5ac1e4;
	transition: all 0ms;
}

input {
	display: inline-block;
	margin: 0px;
	padding: 0px 16px;
	font-family: 'Ubuntu';
	font-size: 16px;
	line-height: 32px;
	height: 32px;
	color: #ffffff;
	background: #4e5f70;
	border: 0px solid transparent;
	vertical-align: top;
	transition: 250ms background ease-out;
	appearance: none;
	cursor: text;
}

select {
	display: inline-block;
	margin: 0px;
	padding: 0px 16px;
	font-family: 'Ubuntu';
	font-size: 16px;
	line-height: 32px;
	height: 32px;
	color: #ffffff;
	background: #4e5f70;
	border: 0px solid transparent;
	vertical-align: top;
	transition: 250ms background ease-out;
	appearance: none;
	cursor: pointer;
}

section > div.action-form {
	display: block;
	position: fixed;
	top: auto;
	right: auto;
	bottom: 24px;
	left: 32px;
	border: 1px dotted #aaaaaa;
}

section > div.action-form h3 {
	display: inline-block;
	margin: 0px;
	padding: 0px;
	font-family: 'Ubuntu';
	font-size: 32px;
	line-height: 64px;
	vertical-align: top;
}

section > div.action-form p {
	display: inline-block;
	margin: 0px;
	padding: 16px;
	height: 32px;
	line-height: 64px;
	vertical-align: top;
}

section > div.action-form p > * {
	margin-left: 16px;
}

section > div.action-form p > *:first-child {
	margin-left: 0px;
}

section > div.action-form button {
	margin-top: -8px;
}

section > div.action-bar {
	display: block;
	position: fixed;
	top: auto;
	right: 32px;
	bottom: 32px;
	left: auto;
}


/*
 * CONTENT
 */

table {
	width: 100%;
}

main section table thead,
main section table tbody {
}

table th,
table td {
	border: 1px dotted #aaaaaa;
	padding: 4px;
}

table td[colspan] {
	text-align: center;
	padding: 32px;
}

table td:last-child {
	text-align: center;
>>>>>>> 14809f5d5452e6aaf51b5df1f97881879f918aff
}
