body{
	background-color: #D3D3D3;
	font-family: 'Quicksand', sans-serif;;
}
ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 300px;
	background-color: #f1f1f1;
}
li a{
	display:block;
	color: #111;
	padding: 8px 0 8px 16px;
	text-decoration: none;
}
li a:hover{
	background-color: #555;
	color: white;
}

table{
	border-collapse: collapse;
    border-spacing: 0;
    position: relative;
    margin-top: 40px;
	text-align: center;
}

tr{
	text-align: left;
}

thead {
	color: #2575a4;
}

tbody tr:hover{
	background-color: white;
}

header{
	color: #2575a4;
	position: fixed;
	top: 0px;
}

menu{
	position: fixed;
	top: 50px;
	left: 10px;
	width: 100px;
}

#main{
	height: auto;
	width: auto;
	right: 10px;
	position: absolute;
	margin-right: 10px;
	padding: 10px;
}